@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--element-bg: hsl(0, 0%, 100%);
	--body: hsl(0, 0%, 98%);
	--text: hsl(200, 15%, 8%); // (Light Mode Text)
	--input: hsl(0, 0%, 52%); // (Light Mode Input)
	--background: hsl(0, 0%, 98%); // (Light Mode Background)

}

.dark {
	--background: hsl(207, 26%, 17%); // (Dark Mode Background)
	--text: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)
	--input: hsl(0, 0%, 100%);
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

body.dark {
	--text: hsl(0, 0%, 100%);
	--background: hsl(207, 26%, 17%);
	--element-bg: hsl(209, 23%, 22%);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: var(--element-bg);
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);

	.container {
		padding: 1.5rem;
	}
}

img {
	max-width: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 93%;
	padding: 2.5rem 1.5rem;
	position: relative;
}

h1 {
	margin: 0;
	font-size: 1.5rem;
}

/* Theme button styling */
.btn-toggle {
	background-color: var(--element-bg);
	border: none;
	font-size: 1rem;
	font-weight: 600;
	color: var(--input);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 120px;

	.fas {
		display: none;
	}


	&:focus {
		outline: none;
	}
}

body.dark .btn-toggle .fas {
	display: inline-block;
}

body.dark .btn-toggle .far {
	display: none;
}

/* Input styling */
.search-box {
	margin-top: 5rem;
}

.search-bar {

	background-color: var(--element-bg);
	border-radius: 6px;
	background-color: var(--element-bg);
	border-radius: 6px;
	box-shadow: 0 0px 4px rgba(0,0,0,0.05);
	padding: 1.2rem 2rem;
	width: 30rem;

	.fa-search {
		color: var(--input)
	}
	.search {
		border: none;
		background: transparent;
		font-family: 'Nunito Sans', sans-serif;
		color: var(--input);
		font-size: 14px;
		width: 80%;
		outline: none;
		margin-left: 1rem;

		&::placeholder {
			color: var(--input);
		}
	}
}

/* Dropdown styling */
.dropdown {
	border-radius: 6px;
	background-color: var(--element-bg);
	color: var(--input);
	box-shadow: 0 0px 4px rgba(0,0,0,0.05);
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	padding: 1.2rem 1.3rem;
	position: relative;

	& ul {
		border-radius: 6px;
		background-color: var(--element-bg);
		box-shadow: 0 0px 4px rgba(0,0,0,0.05);
		display: none;
		padding: 20px;
		position: absolute;
		top: 88%;
		left: 0;
		list-style-type: none;
		width: 100%;
		z-index: 99;

		li {
			padding: .3rem;
			border-radius: 6px;
			transition: .2s ease-out all;
		}
	}

  &.open ul {
		display: block;
	}
	
	& .fa-chevron-down {
		margin-left: 2.8rem;
	}
}




/* Card styling */
.countries {
	margin-top: -40px;
	justify-content: space-around;
	&.container {
		max-width: 99%;
	}
}


.card {
	border-radius: 6px;
	background-color: var(--element-bg);
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	cursor: pointer;
	overflow: hidden;
	margin: 30px 10px;
	max-width: 100%;
	width: 16rem;

	.img-wrapper {
		height: 10.5rem;
		position: relative;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}

	.card-body {
		padding: 30px;
		h3 {
			margin-top: 0;
			margin-bottom: .8rem;
			font-size: 1.1rem;
		}

		p {
			margin: 0;
			font-size: 1rem;
			font-weight: normal;
			padding: .1rem 0;
			small {
				font-weight: 600;
			}
		}
	}

}


/* Modal Styling */
.modal {
	background-color: var(--background);
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	& .container {
		background-color: var(--background);
		padding: 0 1.8rem;
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.wrapper {
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 6rem;
		width: 100%;

		.image {
			max-width: 45%;
			min-height: auto;
			box-shadow: 0 2px 5px rgba(0,0,0,0.1);
			object-fit: cover;
		}

		&-body {
			width: 50%;
			position: relative;
			left: 1rem;
			justify-content: center;
			padding: 10px;

			h2 {
				font-size: 2.2rem;
			}

			& div:first-child{
				margin-right: 7rem;
			}

			span {
				font-size: 1.1rem;
				font-weight: 600;
			}
		}

	}	
}

.btn-back {
	background-color: var(--element-bg);
	color: var(--text);
	border: none;
	padding: .7rem 2.5rem;
	border-radius: 7px;
	cursor: pointer;
	font-size: 1rem;
	position: absolute;
	top: 7rem;
	left: 2rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

@media screen and (max-width: 784px){
	header{
		.container {
		 padding: 1.5rem 1rem;
		}

		h1 {
			font-size: 1rem;
		}
	}

	.dropdown{
		margin-top:	3rem;
	}

	.modal{
		overflow-y: auto;

		.wrapper {
			flex-direction: column;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 13rem;
			width: 100%;
			padding-bottom: 2rem;

		.image {
			max-width: 100%;
		}

		&-body {
			flex-direction: column;
			width: 100%;
			left: 0rem;
			align-items: flex-start;

			& div:first-child{
				margin-right: 0rem;
			}

		}
		}
	}
}

@media screen and (max-width: 420px){
	.container {
		padding: 2.5rem 0;
	}
}